Django==1.9.1
django-admin-bootstrapped==2.5.6
django-bootstrap3==6.2.2
django-bower==5.0.4
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-livereload==1.5
httpie==0.9.3
djangorestframework==3.3.0
